page-home {
    
    #botaoIniciar{       
        margin-top: 30px;
        margin-left: 100px;
        
    }

    #login{
        background-color: #0B2F3A;
    }

    #labelLogin{
        color: yellow;
        
    }

}